{% extends 'base.html' %}
{% block title %}Password Change Successful{% endblock %}
{% block content %}
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Password Changed Successfully!</h4>
    <p>Your password has been changed successfully. You can now use your new password to log in.</p>
    <hr>
    <p class="mb-0">If you did not request this change, please contact support immediately.</p>
</div>
<a href="{% url 'blog:list' %}" class="btn btn-primary">Return to home page</a>
{% endblock content %}